#serverless-anim{
    @media (max-width: 750px) {
        transform-origin: center;
        transform: scale(.7);
    }

    #phoneline1{
        opacity: 0;
        animation: 3.4s phoneline linear infinite;
        transform-box: fill-box;
    }

    #phoneline2{
        opacity: 0;
        animation: 3.4s phoneline 150ms linear infinite;
        transform-box: fill-box;
    }

    #phoneline3{
        opacity: 0;
        animation: 3.4s phoneline 300ms linear infinite;
        transform-box: fill-box;
    }

    #desktopline1{
        opacity: 0;
        animation: 3s desktopline linear infinite;
        transform-box: fill-box;
    }

    #desktopline2{
        opacity: 0;
        animation: 3s desktopline 150ms linear infinite;
        transform-box: fill-box;
    }

    #desktopline3{
        opacity: 0;
        animation: 3s desktopline 300ms linear infinite;
        transform-box: fill-box;
    }


    #houseline1{
        opacity: 0;
        animation: 3.8s houseline linear infinite;
        transform-box: fill-box;
    }

    #houseline2{
        opacity: 0;
        animation: 3.8s houseline 150ms linear infinite;
        transform-box: fill-box;
    }

    #houseline3{
        opacity: 0;
        animation: 3.8s houseline 300ms linear infinite;
        transform-box: fill-box;
    }

}

@keyframes houseline{
    0%{
        opacity: 1;
        transform: translateX(0px) translateY(-40px);
    }

    19.2%{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }

    69.12%{
        opacity: 1;
        transform: translateX(120px) translateY(0px);
    }

    100%{
        opacity: 1;
        transform: translateX(120px) translateY(70px);
    }
}

@keyframes desktopline{
    0%{
        opacity: 1;
        transform: translateY(-95px) translateX(0);
    }

    46.68%{
        opacity: 1;
        transform: translateY(0px) translateX(0);
    }

    // 49.92%{
    //     opacity: 1;
    //     transform: translateY(0px) translateX(0);
    // }

    69.12%{
        opacity: 1;
        transform: translateY(0px) translateX(-50px);
    }

    // 72.96%{
    //     opacity: 1;
    //     transform: translateY(0px) translateX(-50px);
    // }

    100%{
        opacity: 1;
        transform: translateY(60px) translateX(-50px);
    }
}

@keyframes phoneline{
    0%{
        opacity: 1;
        transform: translateY(-60px) translateX(0);
    }

    24.99%{
        opacity: 1;
        transform: translateY(0px) translateX(0);
    }

    // 28.56%{
    //     opacity: 1;
    //     transform: translateY(0px) translateX(0);
    // }

    85.68%{
        opacity: 1;
        transform: translateY(0px) translateX(-150px);
    }

    // 89.25%{
    //     opacity: 1;
    //     transform: translateY(0px) translateX(-150px);
    // }

    100%{
        opacity: 1;
        transform: translateY(40px) translateX(-150px);
    }
}