#react-anim {
  transform: scale(1);
  #react-logo {
    transform-origin: center;
    animation: 20s reactRotate linear infinite;
  }
}

@keyframes reactRotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
