@import '../../../variables';

#contact-section {
  padding-bottom: 5rem;
  .alertBox {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 2rem;
    margin: auto;
    width: 400px;

    transition: 500ms;
    -o-transition: 500ms;
    -moz-transition: 500ms;
    -webkit-transition: 500ms;

    opacity: 0;
  }

  h1 {
    & + a {
      text-decoration: none;
      color: white;

      transition: 500ms;
      -o-transition: 500ms;
      -moz-transition: 500ms;
      -webkit-transition: 500ms;
      &:hover {
        transform: scale(1.1);
        opacity: 0.5;
      }
    }

    & + p {
      font-size: 0.8rem;
    }
  }

  .form {
    width: 40rem;
    margin-left: 50%;
    transform: translateX(-50%);

    @media (max-width: 900px) {
      width: max-content;
    }

    & > * {
      padding: 0.3rem 1.2rem 0.3rem 1.2rem;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      font-weight: bold;
    }

    & > *:not(button) {
      transition: 500ms;
      -o-transition: 500ms;
      -moz-transition: 500ms;
      -webkit-transition: 500ms;

      &:focus {
        outline: none;
        -moz-box-shadow: inset 0 0 4px 1px white;
        -webkit-box-shadow: inset 0 0 4px 1px white;
        box-shadow: inset 0 0 4px 1px white;
      }
    }

    textarea {
      max-width: 100%;
      min-width: 80%;
      min-height: 5rem;
      max-height: 10rem;
      @media (max-width: 900px) {
        width: 300px;
        outline: 3px solsid green;
      }
    }

    input {
      width: 50%;
    }

    button {
      cursor: pointer;
      transition: 500ms;
      -o-transition: 500ms;
      -moz-transition: 500ms;
      -webkit-transition: 500ms;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .uglybtn {
    button {
      background-color: transparent;
      outline: none;
      border: none;

      cursor: pointer;
      transition: 500ms;
      -o-transition: 500ms;
      -moz-transition: 500ms;
      -webkit-transition: 500ms;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

#dividerContact {
  position: absolute;
  width: 100%;
}
