@import '../../../variables';

#tech-section {
  background: $--color-purple700;
  padding: 0 15rem 5.8rem 15rem;
  @media (max-width: 900px) {
    padding: 0 4rem 5.8rem 4rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 6rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 4rem;
    width: 10rem;

    border-radius: 0.2rem;

    &:hover {
      & > * {
        transform: scale(1.2);
        filter: grayscale(0);
      }
    }

    & > * {
      width: 100%;
      height: auto;
      filter: grayscale(1);

      transition: 500ms;
      -o-transition: 500ms;
      -moz-transition: 500ms;
      -webkit-transition: 500ms;
    }
  }
}
