@import "../../../variables";

#strength-section {
  width: 100%;
  margin-bottom: 30cm;
  background: $--color-blue800;
  padding-bottom: 10rem;
  min-height: 40vh;
}

#strength-divider {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-98%);
}

.strength-carousel {
  position: relative;
  width: 15rem;
  margin: auto;

  .secondary-card {
    transform: scale(0.5);
    opacity: 0.3;
  }

  & > * {
    width: 15rem;
    height: 20rem;
    left: 0rem;

    position: absolute;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform-origin: center;

    transition: 800ms;
    -o-transition: 800ms;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;

    img {
      text-align: center;
      width: 45%;
    }
  }

  .leftCard {
    left: -15rem;
    opacity: 0.5;
    transform: scale(0.5);
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transform: scale(0.55);
    }
  }

  .rightCard {
    left: 15rem;
    opacity: 0.5;
    transform: scale(0.5);
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transform: scale(0.55);
    }
  }
}
