@import '../../../variables';

#strength-section {
  width: 100%;
  background: $--color-blue800;
  padding-bottom: 13rem;
  min-height: 40vh;

  h4 {
    font-size: 2.5rem;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
  }

  #strengths-divider {
    position: absolute;
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.strength-carousel {
  position: relative;
  width: 15rem;
  max-width: 100%;
  height: 40vh;

  padding-top: 5rem;

  margin: auto;
  @media (max-width: 650px) {
    width: 10rem;
  }

  .secondary-card {
    transform: scale(0.5);
    opacity: 0.3;
  }

  & > * {
    width: 15rem;
    height: 20rem;
    left: 0rem;

    @media (max-width: 650px) {
      width: 10rem;
      height: 15rem;
    }

    position: absolute;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform-origin: center;

    transition: 800ms;
    -o-transition: 800ms;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;

    img {
      text-align: center;
      width: 45%;
    }
  }

  .leftCard {
    left: -15rem;
    opacity: 0.3;
    transform: scale(0.4);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      transform: scale(0.5);
    }

    @media (max-width: 650px) {
      left: -10rem;
      transform: scale(0.4) translateX(70%);
      &:hover {
        opacity: 0.8;
        transform: scale(0.3) translateX(-100%);
      }
    }
  }

  .rightCard {
    left: 15rem;
    opacity: 0.3;
    transform: scale(0.4);
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transform: scale(0.5);
    }
    @media (max-width: 650px) {
      transform: scale(0.4) translateX(-70%);
      left: 10rem;
      &:hover {
        opacity: 0.8;
        transform: scale(0.3) translateX(-100%);
      }
    }
  }
}
